/target/classes/
/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/maven-archiver/pom.properties
/target/spring_partie_2-1.0-SNAPSHOT.jar
